* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /**5**/
  margin: auto;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: absolute;
  top: 50%;
  height: 300px;
  margin-top: -150px;
  text-align: center;
  background: white;
  padding: 5px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  vertical-align: auto;
}
.container > h1 {
  padding: 10px 0;
  letter-spacing: 3px;
  text-transform: capitalize;
}
hr {
  display: none;
}
input[type='number'] {
  border: 1px solid black;
  padding: 5px;
  margin: 5px auto;
  width: 100%;
}
.container > div > .result {
  text-align: end;
  align-items: center;
  width: 100%;
  background-color: cornflowerblue;
  color: black;
  font-weight: 700;
}
button {
  padding: 15px 20px;
  margin: 0 5px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: larger;
}
footer {
  padding-top: 10px;
  color: blue;
  font-size: 16px;
  margin-bottom: 0.4rem;
}
footer span {
  font-size: large;
  font-weight: bolder;
  color: black;
}

@media only screen and (max-width: 768px) {
  body {
    position: relative;
    width: 250px;
  }
  .container {
    position: absolute;
    height: 310px;
    top: 50%;
    margin-top: 155px;
    width: 100%;
    margin-right: auto;

    margin-left: auto;
  }
  hr {
    display: block;
    margin: 0.5rem 0px;
    background: black;
  }
  input[type='number'] {
    border: 1px solid black;
    padding: 5px;
    margin: 5px auto;
    width: 50%;
    text-align: left;
  }
  .container > div > .result {
    width: 90%;
  }
  br {
    display: none;
  }
  .input {
    margin-bottom: 0.5rem;
  }
  button {
    padding: 7px 9px;
    margin: 0 3px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: larger;
  }
}
